<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="utf-8">
</head>

<body>
  <div id="root">
    <div class="loading-placeholder">
      <h1>
        <%= htmlWebpackPlugin.options.title %>
      </h1>
      <span>is loading</span>
    </div>
  </div>
  </div>
</body>

</html>